.Backdrop-myContact2 {
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #f5f1ff;
  border-radius: 20px;
}
.search-container2 {
  align-items: center;
  /* background: #fff; */
  border-radius: 12px;
  box-shadow: 0 4.3275208473px 35.7020454407px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  padding: 0px 13px;
  margin-right: 10px;
}
.inputsearch-2 {
  background-color: transparent;
}
.myexecl-btn2 {
  width: 100%;
  border: 1px solid #f5f1ff;
  padding: 10px 14px;
  border-radius: 8px;
  transition: 0.5s;
  background: transparent;
  color: white;
}
.myexecl-btn2:hover {
  background: linear-gradient(to right, #3ab19d, #3aa9ab);
}
.myexecl-btn2:focus {
  outline: none;
  border: 1px solid #f5f1ff;
}
::-webkit-input-placeholder {
  /* Webkit browsers */
  color: white;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
.search-icon2 {
  color: white;
  margin-right: 8px;
}
.MyContact_2_maincontainer {
  max-height: 30rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
.MyContact_2_container {
  max-height: 30rem; /* Adjust the height as needed */
  overflow-y: scroll;
  overflow-x: hidden;
}

.MyContact_2_container::-webkit-scrollbar {
  width: 1px;
}

.MyContact_2_container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Scrollbar thumb color */
  border-radius: 8px;
}

.MyContact_2_container::-webkit-scrollbar-track {
  background-color: transparent; /* Scrollbar track color */
}
.MyContact_2_maincontainer::-webkit-scrollbar {
  width: 1px;
}

.MyContact_2_maincontainer::-webkit-scrollbar-thumb {
  background-color: transparent; /* Scrollbar thumb color */
  border-radius: 8px;
}

.MyContact_2_maincontainer::-webkit-scrollbar-track {
  background-color: transparent; /* Scrollbar track color */
}
.td_min_sNo_width {
  min-width: 100px !important;
}
.td_min_width {
  min-width: 200px !important;
}
.td_min_desc_width {
  min-width: 300px !important;
}
.btns_MyContact2 {
  width: auto;
  border: 1px solid #f5f1ff;
  padding: 4px 8px;
  border-radius: 8px;
  transition: 0.5s;
  background: transparent;
  color: white;
}
.MyContact_scroll {
  max-height: 40rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
.MyContact_scroll::-webkit-scrollbar {
  height: 1px; /* Set the width of the scrollbar */
}

.MyContact_scroll::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb */
}

.unselected-dropdown_2 {
  background: transparent;
  box-shadow: none;
  color: white;
  border: 2px solid #f5f1ff;
  min-width: 120px;
  padding: 7px;
  border-radius: 12px;
}
.Del_btn{
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.5s;
  background: transparent;
  color: white;
  color: red;
}
.Del_btn:hover{
  border: 1px solid #f5f1ff;
}
.Close_btn{
    padding: 6px 12px;
    border-radius: 6px;
    transition: 0.5s;
    background: transparent;
    color: #3ab19d;
  }
  .Update_btn{
    padding: 6px 12px;
    border-radius: 6px;
    transition: 0.5s;
    background: transparent;
    color: #3ab19d;
  }
  .Update_btn:hover{
    border: 2px solid #3ab19d;
    color: #3ab19d;
    background: transparent;
  }
@media screen and (min-width: 1399px) and (max-width: 1683px) {
  .width_91 {
    width: 91.5% !important;
  }
}
