.btn-Verify {
    background: linear-gradient(to right, #3ab19d, var(--color-primary));
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
  }
  .main-OtpForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .font-bold {
    font-weight: 600;
  }
  .timer-color {
    color: grey;
  }
  .timer-sendNow-color {
    color: #3ab19d;
    cursor: pointer;
  }
  .inactive-verify {
    background: darkgrey;
    border-radius: 10px;
    border: none;
  }
  .otp-head {
    text-align: center;
  }
  .back-arrow-otp {
    background: linear-gradient(to right, #3ab19d, var(--color-primary));
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 10px;
  }
  .display-mob-none{
    display: none !important;
  }
  
  @media screen and (max-width: 800px) {
    .password-toggle-icon {
      position: absolute !important;
      right: 28% !important;
      transform: translateY(40%) !important;
      cursor: pointer;
    }
    .display-mob-none{
      display: flex !important;
    }
  }
  
@media screen and (min-width: 700px) and (max-width: 800px) {
  .password-toggle-icon {
    right: 36% !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 699px) {
  .password-toggle-icon {
    right: 33.5% !important;
  }
}
@media screen and (min-width: 540px) and (max-width: 599px) {
  .password-toggle-icon {
    right: 31.5% !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 539px) {
  .password-toggle-icon {
    right: 30% !important;
  }
}
@media screen and (min-width: 400px) and (max-width: 479px) {
  .password-toggle-icon {
    right: 27% !important;
  }
}
@media screen and (min-width: 330px) and (max-width: 399px) {
  .password-toggle-icon {
    right: 21.5% !important;
  }
}
@media screen and (min-width: 260px) and (max-width: 329px) {
  .password-toggle-icon {
    right: 19% !important;
  }
}