/* .main-card {
  padding: 20px;
} */
.card-msg-border {
  --bs-card-border-width: none;
  border: none !important;
}
.Main-Profile-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Profile-flex {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}
.image-style {
  object-fit: cover;
  height: 70px;
  width: 70px;
}
.connected-badge {
  background-color: #74ba2d;
  color: white;
  padding: 0px 6px;
  border-radius: 15px;
  max-width: 96px;
}
.main-status {
  display: flex;
}
.font-style-status {
  font-weight: 600;
  font-size: 1.3rem;
}
.Profile-style {
  display: flex;
  padding: 0 10px;
}
.main-status-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.icon-style-flex {
  display: flex;
  justify-content: space-evenly;
}
.pd-lr-10 {
  padding: 5px 10px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin: 0 2px;
}

.Main-Msgs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.tr{
  background-color: white;
}
.th {
  padding: 10px !important;
}
.filter-btn {
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 0px 10px;
  padding: 3px 8px;
  border: none;
  -webkit-box-shadow: 0px 0px 1px 1px rgb(226 224 224 / 75%);
}
.filter-btn:hover{
  background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  color: white;
}

.search-icon{
  color: #adb0b4;
}
.info-icon{
  color: #4780d3;
  padding: 0 5px;
  height: 2.5vh;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-bg-type: rgb(255 218 218 / 5%);
}
.cl-light-grey{
  color: #a9a4a1;
  font-size: 1.5vh;
}
.msgbtn-color{
  background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  padding: 3px 8px;
  border: none;
}
.svg-style:hover{
  background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  color: white;
}